//- Meta
- var meta_title = 'Manuel Steinberg´s gelesene Bücher | Inspiration und Kritik'
- var meta_author = 'Manuel Steinberg'
- var meta_description = 'Auf dieser Seite findest du Bücher, welche Manuel gelesen hat. Vielleicht ist ja eine Inspiration dabei oder eine Kritik überzeugt dich, das eine Buch zu lesen.'

include _snippets/header.pug
include _snippets/hero.pug


//- Book mixin
include _mixins/book.pug

//- Current book
section.container#list
  h2 Mein bisheriger Lesestoff:
  article

    //+book("Title", "Author", 2022, "Text") 
    +book("Das Café am Rande der Welt", "John Strelecky", 2022, "Text", "https://amzn.to/3JZ0PE3", true) 
    +book("Building Progressive Web Apps", "Tal Ater", 2022, "Webseite + PWA = 🤯. Wirklich sehr faszinierend, was man mit progressiven Webapplikationen bereits machen kann.", "https://amzn.to/3qk0jZp") 
    +book("Designing For Sustainability", "Tim Frick", 2022, "IT kann nachhaltig sein! Dafür benötigt es wie überall auch ein klares Change-Management.", "https://amzn.to/3HETloK") 
    +book("Menschen lesen", "Joe Navarro", 2022, "Man beachte verbale, als auch nonverbale Zeichen, um klare Absichten zu erkennen.", "https://amzn.to/3nVKdnR") 
    +book("Emotional Intelligence", "Daniel Goleman", 2021, "Faszinierend wie tief die Emotionen im Menschen verwurzelt verdrahtet sind.", "https://amzn.to/3nVBB0s")
    +book("Vertrauen", "Manfred Tropper", 2021, "Der Titel ist Programm, jedoch gibt es kein Rezept wie Vertrauen aktiv geschaffen werden kann.","https://amzn.to/3s7b1Tt") 
    +book("Eco-conception web", "Frédéric Bordage", 2021, "Leider nur auf französisch... aber man bekommt immerhin auch so eine Idee.","https://amzn.to/3G0WNIm") 
    +book("Digital Unplugged", "Philipp Westermeyer", 2021, "Ein gelungenes Buch, dass den aktuellen Zeitgeist der digitalen Geschäftswelt umfasst.","https://amzn.to/3FXNglC") 
    +book("Erfolgreich Influencer werden", "Niklas Hartmann", 2021, "Wie ein gutes Gespräch auf einer Party.","https://amzn.to/3H2mJET") 
    +book("The Laws of Human Nature", "Robert Greene", 2021, "Blicke hinter die Maske, die hinter der Maske von Menschen steckt und erlange tiefe Einblicke in die Natur des Menschen.","https://amzn.to/33Jf5kD") 
    +book("The Infinite Game", "Simon Sinek", 2021, "Sinek beschreibt das Mindset für Gewinner. WIllst du ein Gewinner sein?","https://amzn.to/3KEJykd") 
    +book("Fast Forward Investing", "Jon Markman", 2021, "Interessant, allerdings nicht sehr schön zu lesen, da vieles schon bekannt war. Viele, der angesprochenen Themen werden uns auf jeden Fall die nächsten Jahre begleiten.","https://amzn.to/3fVsacX") 
    +book("MAKE", "Pieter Levels", 2021, "Inspiration pur! Nach jeden Kapitel hat man einfach Lust weiter an seinen Ideen zu basteln.") 
    +book("Mindset", "Carol S. Dweck", 2021, "Bietet einen Leitfaden über die eigene Denkweise nach zu denken und Potenziale für sich zu entdecken.","https://amzn.to/3qYXSfO") 
    +book("The Elements of Style", "William Strunk Jr., E.B. White", 2021, "(Uralter) Klassiker über die Kunst den englischen Schreibens.","https://amzn.to/3FYFSpW") 
    +book("World Wide Waste", "Gerry McGovern", 2020, "Ein absoluter Augenöffner, wie der Mensch die Natur durch Digitalisierung zerstört, anstatt nach wirklichen Lösungen zu suchen.","https://amzn.to/3fVbL8l") 
    +book("How To", "Randall Munroe", 2020, "Eine kleine Abwechslung für Zwischendurch, um sich mit Gedanken oder Ideen zu beschäftigen, welche nicht Tagtäglich vorkommen. Gerade mit der Ergänzung von Mathematik und Physik dahinter durch aus unterhaltsam.","https://amzn.to/3HfGbhP") 
    +book("Hooked", "Nir Eyal", 2020, "Ein Must-Read für all diejenigen, die Produkte oder Apps entwickeln!","https://amzn.to/349uSJj") 
    +book("10xDNA", "Frank Thelen, Markus Schorn", 2020, "Interessante Einblicke in die Denkweise vom Frank Thelen. Leider lässt das Buch Faktoren bezüglich der Nachhaltigkeit deutlich zu kurz ausfallen.","https://amzn.to/3G0JRCy") 
    +book("Life 3.0", "Max Tegmark", 2020, "In welche Richtung wird sich unsere Zukunft mit künstlicher Intelligenz entwickeln? Eine Auflistung von potenziellen Szenarien findet man hier und es lohnt sich!","https://amzn.to/3qYXluk") 
    +book("Difference", "Bernadette Jiwa", 2020, "Eine schnelle Auffrischung rund um das Thema Marketing.","https://amzn.to/3KIQk8A") 
    +book("Rich Dad, Poor Dad", "Robert T. Kiyosaki", 2020, "An vielen Passagen wirkt das Buch sehr allgemein, doch die wahre Botschaft versteckt sich zwischen den Zeilen. Diejenigen die sich mit dem Thema und Gedanken rund um finanzielle Freiheit beschäftigen, ist dieses Buch ein Muss.","https://amzn.to/3qYSmts") 
    +book("Brief Answers to the Big Questions", "Stephen Hawking", 2020, "Lässt man sich auf die Gedankenspiele ein und versucht den Gedanken und Theorien von Steven Hawking zu folgen, sind Kopfschmerzen garantiert!","https://amzn.to/3GZgfGJ") 
    +book("The Ride of a Lifetime", "Robert Iger", 2020, "Eine faszinierende Geschichte wie sich Disney wieder einen Platz und Namen gemacht hat, allerdings auch zum Teil auf Kosten der treuen Fans.","https://amzn.to/3nWP7AS") 
    +book("Social Engineering", "Vince Reynolds", 2020, "Der Mensch ist und bleibt die größte Schwachstelle innerhalb der IT.","https://amzn.to/3fVaz4R") 
    +book("Business Model Generation", "Alexander Osterwalder", 2020, "Adapt or Die! Dieses Buch zeigt eine Variante, wie sich Unternehmen immer wieder neu erfinden.","https://amzn.to/3rNKwlD") 
    +book("The Organized Mind", "Daniel J. Levitin", 2020, "Man muss sich selbst aktiv vor Informationsüberflutung schützen!","https://amzn.to/3KEHFUF") 
    +book("The Non-Designer's Design Book", "Robin P. Williams", 2020, "Designstudium in einem Buch.","https://amzn.to/3KKET0q") 
    +book("Ich arbeite in einem Irrenhaus", "Martin Wehrle", 2020, "Reine Zeitverschwendung.","https://amzn.to/343gHFt") 
    +book("The Green New Deal", "Jeremy Rifkin", 2020, "Können wir unseren Planeten noch retten und wenn ja, WIE?","https://amzn.to/3fT9wCj") 
    +book("How to Argue with a Cat", "Jay Heinrichs", 2020, "Unterhaltsam und dennoch lehrreich, denn was bei der Katze funktioniert, klappt vielleicht auch beim Menschen.","https://amzn.to/3nZ6IYT") 
    +book("The 1-Page Marketing Plan", "Allan Dib", 2020, "Marketing einfach und kompakt auf den Punkt gebracht.","https://amzn.to/3fVpA6L") 
    +book("How to Create a Mind", "Ray Kurzweil", 2019, "Sehr gutes Buch, das Mensch und IT verschmelzen lässt und die Grenzen der IT bei Artificial Intelligence beschreibt.","https://amzn.to/3G625CM") 
    +book("How to Fail at Almost Everything and Still Win Big", "Scott Adams", 2019, "Unterhaltsam und gleichzeitig äußerst lehrreich.","https://amzn.to/3fRxQES") 
    +book("Factfulness", "Hans Rosling", 2019, "Dieses Buch hilft wahrhaftig die Welt aus einer neuen Perspektive zu betrachten!","https://amzn.to/3fXs2tk") 
    +book("Anything You Want", "Derek Sivers", 2019, "Erfolgreich per Zufall? ... Eine sehr faszinierende Geschichte von Derek.","https://amzn.to/3H4VauH") 
    +book("Spam Nation", "Brian Krebs", 2019, "Spam-Mails sind zwar primitiv, allerdings auch sehr effektiv!","https://amzn.to/3KEu3ZJ") 
    +book("The $100 Startup", "Chris Guillebeau", 2019, "Ein Start-Up braucht keine Finanzierungsrunden in Millionenhöhe. Start Small, Think Big!", "https://amzn.to/3G61vF6") 
    +book("Die 4-Stunden-Woche", "Timothy Ferriss", 2018, "Warum sich das Leben schwer machen, wenn es auch einfach geht? Und das einfacher, als man denkt.","https://amzn.to/3qWJ6WB") 
    +book("Elon Musk", "Ashlee Vance", 2018, "Visionär, Entrepreneur und Innovator ... Einfach faszinierend.","https://amzn.to/3H2cHUb") 
    +book("Zero to One", "Peter Thiel, Blake Masters", 2018, "Die Welt und die Technologie entwickelt sich schneller, als wir annehmen, dennoch ist es niemals zu spät für neue Innovationen.","https://amzn.to/3tW6sO9") 
    +book("Tools der Titanen", "Timothy Ferriss", 2018, "Wie sind manche Menschen so erfolgreich geworden? Das Buch bietet eine mögliche Antwort.","https://amzn.to/3r0DdYN") 
    +book("Software Architecture Patterns", "Mark Richards", 2018, "Eine neue (gehypte) Programmiersprache macht dich nicht zu einem besseren Programmierer!","https://amzn.to/3nVEJth") 
    +book("The Zero Marginal Cost Society", "Jeremy Rifkin", 2017, "Äußerst faszinierende Darstellung des Autors über die Welt der Zukunft, welche bereits möglich wäre.","https://amzn.to/3KEt7EH") 
    +book("Business Process Re-engineering", "Giles Johnston", 2017, "Was tut man nicht alles für die Bachelorarbeit? (P.S. zu diesem Zeitpunkt wusste ich noch nicht einmal das ich über dieses Thema schreiben werde. Bis zu meiner Bachelorarbeit waren es noch 2 Semester.)", "https://amzn.to/3fX0SCQ") 
    +book("The SaaS Startup Founder's Guide", "salesforce.com", 2017, "Folge den Spuren von erfolgreichen Start-Ups.") 
    +book("The Lean Startup", "Eric Ries", 2017, "Ein MUST-READ für jeden Entrepreneur!", "https://amzn.to/3KH4aIQ") 
    +book("Geld verdienen im Internet", "H. Feller", 2017, "Scheinbar geht das wirklich ..." , "https://amzn.to/3nVEE8X") 
    +book("Mobile User Experience", "Adrian Mendoza", 2016, "Da gibt es deutlich bessere Bücher.", "https://amzn.to/3FXeA39") 
    +book("Thinking, Fast and Slow", "Daniel Kahneman", 2016, "Klassiker, allerdings nicht gerade einfach zu lesen.", "https://amzn.to/3r0CU05") 
    +book("Erfolgsfaktoren wirklich agiler Unternehmen", "Stefan Scherber", 2015, "Naja.") 
    +book("Web Hacking", "Manuel Ziegler", 2015, "Nett.", "https://amzn.to/3fTG6E6") 
    +book("Pro PHP Security", "Chris Snyder, Thomas Myer, Michael Southwell", 2015, "...", "https://amzn.to/3qZjmt1") 
    +book("Scalable and Modular Architecture for CSS", "Jonathan Snook", 2014, "Gute Ansätze, allerdings nur bedingt effizient einsetzbar.", "https://amzn.to/3ArTJUJ")
    +book("HTML5 Hacks", "Jesse Cravens, Jeff Burtoft", 2014, "Grundlegendes, was man über die moderne und attraktive Gestaltung von Websites wissen sollte.", "https://amzn.to/3FVvnnj")


include _snippets/footer.pug
